.full-width {
    width: calc(100% - 10px);    
    margin-right: 10px;
}

.half-width {
    width: calc(50% - 10px);
    margin-right: 10px;
}

.third-width {
    width: calc(33% - 10px);
    margin-right: 10px;
}

.second-width {
    width: calc(66% - 10px);
    margin-right: 10px;
}

.margin-form {
    margin-right: 10px;
}

.border_detail{
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    background-color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.19);
}