<div class="container section">
  <div style="margin-bottom: 20px;" class="border_detail">
    Detalles proyecto
  </div>
  <div class="border_detail">
    <div style="margin-bottom: 10px;">
      <h4>Actividades</h4>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="15px">
      <div fxFlex="0 0 100%" fxFlex.gt-sm="0 0 calc(50%-15px)" fxFlex.gt-md="0 0 calc(33% - 15px)" *ngFor="let m of data">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{m.name}}</mat-card-title>
          </mat-card-header>
          <img src="">
          <mat-card-content>
            <p>{{m.time}}</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button color="accent">Detalle</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>