<div class="container section">
  <div style="margin-bottom: 10px;">
    <button mat-raised-button color="accent" (click)="goToAdd()"><mat-icon>add-box</mat-icon> Agregar Proyecto </button>
  </div>
  <table mat-table #tableProject multiTemplateDataRows [(dataSource)]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="typeProject">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.typeProject}} </td>
      </ng-container>
    <ng-container matColumnDef="dateInit">
      <th mat-header-cell *matHeaderCellDef> Fecha Inicial </th>
      <td mat-cell *matCellDef="let element"> {{element.dateInit | fecha :'dd/MM//yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="dateEnd">
      <th mat-header-cell *matHeaderCellDef> Fecha Final </th>
      <td mat-cell *matCellDef="let element"> {{element.dateEnd | fecha :'dd/MM//yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="goToDetail(element)" title="Ver detalles">
          <mat-icon color="accent">visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="goToAddActivity()" title="Agregar actividades">
          <mat-icon color="accent">playlist_add</mat-icon>
        </button>
        <button mat-icon-button (click)="goToDelete(element)" title="Eliminar">
          <mat-icon color="accent">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>