@import 'variables';

*{
    box-sizing: border-box;
}

html, body{
    margin: 0px;
    padding: 0px;
}

@mixin lyContainer($size, $mt:0px) {    
    .container{
        width: $size;
        margin: auto;        
    }

    .section{
        margin-top: $mt;
    }
}

@include lyContainer($ly-sm, $sm);


@media only screen and (min-width: 600px) {
    @include lyContainer($ly-md, $md);
}

@media only screen and (min-width: 920px) {
    @include lyContainer($ly-lg, $lg);
}

